{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'campaigns/startup.css' %}">

</head>
<body>
    

<div class="main">

<h1>Campaigns</h1>

<form method="get">
    <input type="text" name="q" placeholder="Search campaigns...">
    <button type="submit">Search</button>
</form>

<a href="{% url 'campaigns:api_campaign_list_create' %}" class="btn btn-info" style="margin-left: 10px;">API View</a>
<a href="{% url 'campaigns:campaign_create' %}" class="btn btn-primary">Add New Campaign</a>

<ul>
    {% for campaign in campaigns %}
        <li>
            <a href="{% url 'campaigns:campaign_detail' campaign.pk %}">
                {{ campaign.name }}
            </a>
            <a href="{% url 'campaigns:campaign_update' campaign.pk %}" class="btn btn-secondary btn-sm">Edit</a>
            <a href="{% url 'campaigns:campaign_delete' campaign.pk %}" class="btn btn-danger btn-sm">Delete</a>
			<a href="{% url 'campaigns:api_campaign_detail' campaign.id %}" class="btn btn-info">API Details Url</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'campaigns:user_view' %}">Back to Dashboard</a>
</div>
</body>
</html>