<h1>Welcome, {{ user.username }}!</h1>
<nav>
    <a href="{% url 'campaigns:startup_list' %}">View Startups</a>
    <a href="{% url 'campaigns:campaign_list' %}">View Campaigns</a>
    <a href="{% url 'campaigns:donation_list' %}">View Donations</a>
	<a href="{% url 'logout' %}">Logout</a>
</nav>

<h2>Startups</h2>
<ul>
    {% for startup in startups %}
        <li>{{ startup.name }} - {{ startup.description }}</li>
    {% endfor %}
</ul>

<h2>Campaigns</h2>
<ul>
    {% for campaign in campaigns %}
        <li>{{ campaign.name }} - {{ campaign.goal_amount }} - {{ campaign.collected_amount }}</li>
    {% endfor %}
</ul>

<h2>Donations</h2>
<ul>
    {% for donation in donations %}
        <li>{{ donation.user_name }} - {{ donation.amount }} to {{ donation.campaign.name }}</li>
    {% endfor %}
</ul>
