body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(24, 5, 5);
}




ul{
    color: white;

}

h2{
    color: white;
}

h1{
    color: white;
}

.main a{
    color: white;
        

}

.main h1{
    text-align: center;    
}

.main nav{
    text-align: center;    

}